<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{1} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="org.hibernate" level="warn" />
        <Logger name="org.hibernate.ejb" level="error" />
        <Logger name="org.hibernate.SQL" level="debug" />
        <Logger name="org.hibernate.jpa.internal.util.LogHelper" level="info" />
        <Logger name="org.hibernate.engine.jdbc.connections.internal" level="error" />
    </Loggers>
</Configuration>