<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <Logger name="org.hibernate" level="WARN" />
    <Logger name="org.hibernate.ejb" level="ERROR" />
    <Logger name="org.hibernate.sql" level="DEBUG" />
    <Logger name="org.hibernate.type" level="DEBUG" />
    <Logger name="org.hibernate.jpa.internal.util.LogHelper" level="WARN" />
    <Logger name="org.hibernate.engine.jdbc.connections.internal" level="ERROR" />
</configuration>